server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost"
              - "http://localhost:5173"
              - "http://localhost:4200"
              - "https://alesky-hospital.vercel.app/" 
              - "https://*.trycloudflare.com"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: farmacia-backend
          # Usamos una variable de entorno. Si no existe, usa localhost (para dev local)
          uri: ${BACKEND_URI:http://localhost:8081}
          predicates:
            - Path=/**